<div class="container spacer">
    <div class="card " style="width:100%;">
        <div class="card-header text-center">Ajouter un Contact</div>
        <div class="card-body">
            
            <div class="form-group">
                <label class="control-label">Nom:</label>
                <input class="form-control" type="text"  [(ngModel)]="contact.nom">
            </div>

            <div class="form-group">
                <label class="control-label">Prenom:</label>
                <input class="form-control" type="text"  [(ngModel)]="contact.prenom">
            </div>

            <div class="form-group">
                <label class="control-label">Email:</label>
                <input class="form-control" type="text"  [(ngModel)]="contact.email">
            </div>

            <div class="form-group">
                <label class="control-label">dateNaissance:</label>
                <input class="form-control" type="date"  [(ngModel)]="contact.dateNaissance">
            </div>

            <div class="form-group">
                <label class="control-label">Tel:</label>
                <input class="form-control" type="text"  [(ngModel)]="contact.tel">
            </div>

            <button (click)="update()" class="btn btn-primary">Save</button>
        <div>
    </div>   
    <hr>
    <div class="card " style="width:100%;" *ngIf="mode===2">
        <div class="card-header text-center">Confirmation</div>
        <div class="card-body">
            
            <div class="form-group">
                <label class="control-label">Nom:</label>
                <label>{{contact.nom}}</label>
            </div>

            <div class="form-group">
                <label class="control-label">Prenom:</label>
                <label>{{contact.prenom}}</label>
            </div>

            <div class="form-group">
                <label class="control-label">Email:</label>
                <label>{{contact.email}}</label>
            </div>

            <div class="form-group">
                <label class="control-label">dateNaissance:</label>
                <label>{{contact.dateNaissance}}</label>
            </div>

            <div class="form-group">
                <label class="control-label">Tel:</label>
                <label>{{contact.tel}}</label>
            </div>

            <button (click)="mode=1" class="btn btn-primary">Nouveau Contact</button>
        <div>
    </div>    
</div>
